@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* estilos globales para el formulario */

label{
    color: white;
    font-weight: 600;
}

input, textarea, select{
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #444;
}

input::placeholder, textarea::placeholder{
    color: #bbbbbb;
}

input:focus, textarea:focus, select:focus{
    background-color: #333;
    color: white;
    border-color: #ff7b00;
    outline: none;
}

small{
    color: #cccccc;
}